{% extends 'Master.html' %}

{% block title %}
    卫监矩阵
{% endblock %}

{% block head %}
    {{super()}}
    <style type="text/css">
        body {
            background: url(/static/img/bodybg.jpg) no-repeat;
        }
    </style>
{% endblock %}

{% block body %}

<table class="subtable">
    <tr><td><a class="btn btn-block" href="/sanitation/sn/">河南省内卫生监督微信公众号</a></td></tr>
    <tr><td><a class="btn btn-block" href="/sanitation/sw/">国内热点卫生监督微信公众号</a></td></tr>
</table>
{% endblock %}

{% block footer %}
{% endblock %}