{% extends 'Master.html' %}

{% block title %}
    一键查询
{% endblock %}

{% block head %}
    {{super()}}
    <style type="text/css">
        body {
            background: url(/static/img/bodybg.jpg) no-repeat;
        }
    </style>
{% endblock %}

{% block body %}
<table class="subtable" style="margin-top:15px;">
    <tr><td><a class="btn btn-block" href="http://zgcx.nhfpc.gov.cn:9090/">全国医疗机构查询</a></td></tr>
    <tr><td><a class="btn btn-block" href="http://zgcx.nhfpc.gov.cn:9090/doctor">医师查询</a></td></tr>
    <tr><td><a class="btn btn-block" href="http://zgcx.nhfpc.gov.cn:9090/nurse">护士查询</a></td></tr>
    <tr><td><a class="btn btn-block" href="http://weixin.cyrytj.com/legislationController/papersCheckView.do?openid=&state=2">健康证查询</a></td></tr>
    <tr><td><a class="btn btn-block" href="/scan?#wechat_redirect">扫码查验</a></td></tr>
</table>
{% endblock %}

{% block footer %}
{% endblock %}
