{% extends 'Master.html' %}

{% block title %}
    法规课堂
{% endblock %}

{% block head %}
    {{super()}}
    <style type="text/css">
        body {
            background: url(/static/img/bodybg.jpg) no-repeat;
        }
    </style>
{% endblock %}

{% block body %}
<table class="subtable" style="margin-top:30px;">
    <tr><td><a class="btn btn-block" href="http://exam.wsxzsp.com/buttJointController/examJoint.do">卫生监督员培训考试系统</a></td></tr>
    <!--<tr><td><a class="btn btn-block" href="http://zgcx.nhfpc.gov.cn:9090/nurse">护士查询</a></td></tr>-->
    <!--<tr><td><a class="btn btn-block" href="/out/19">医师查询</a></td></tr>-->
    <!--<tr><td><a class="btn btn-block" href="/out/20">护士查询</a></td></tr>-->
</table>
{% endblock %}

{% block footer %}
{% endblock %}
