<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>卫生监督观察</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link rel="shortcut icon" href="{{ url_for('static',filename='ico.png')}}" type="image/x-icon"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='index.css')}}" type="text/css" />
</head>
<body>
    <div id="touchWrap">
            <div id="circle"></div>
    </div>
    <!-- 导入JS -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/circle-menu.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script>
        var menuData = [
            { name: '一键举报', url: '/report?scene=4#wechat_redirect', ico: '{{ url_for('static', filename='img/7/一键举报.png') }}' },
            { name: '一键查询', url: '/profession?scene=4#wechat_redirect', ico: '{{ url_for('static', filename='img/7/医护查询.png') }}' },
            { name: '一键办证', url: '/profession/other?scene=4#wechat_redirect', ico: '{{ url_for('static', filename='img/7/卫监矩阵.png') }}' },
            { name: '法规课堂', url: '/law?scene=4#wechat_redirect',ico: '{{ url_for('static', filename='img/7/法规课堂.png') }}' },
            { name: '医疗机构', url: '/medical?scene=4#wechat_redirect', ico: '{{ url_for('static', filename='img/7/医疗机构.png') }}' },
            { name: '公共场所', url: '/public?scene=4#wechat_redirect', ico: '{{ url_for('static', filename='img/7/公共场所.png') }}' },
            { name: '公告公示', url: '/note?scene=4#wechat_redirect', ico: '{{ url_for('static', filename='img/7/公告公示.png') }}' },
            { name: '行政处罚', url: '/penalty?scene=4#wechat_redirect', ico: '{{ url_for('static', filename='img/7/行政处罚.png') }}' }
        ];
        var options = {
            menu: menuData,     // 菜单数据
            wrap: 'touchWrap',  // 根容器id
            circle: 'circle',   // 转盘元素id
            direction: 1,       // 旋转方向 0:逆时针, 1:顺时针, 只能是0或1, 默认 1
            speed: 2           // 转动倍速, 介于0 和3之间, 默认1倍速
            //division: 10       // 整圆周等分段数, 默认15, 每个菜单项占一个单位, 不能超过30, 不想小于5
        };
        new CircleMenu(options);
    </script>
    <!-- end -->
</body>
</html>